
{% extends "base.html.twig" %}
 {% block body %}
 <div id='Form_Inscription' style="width:50%;height:40%;margin-left: 25%;margin-top:5%" >
 <h2>S'inscrire :</h2>
 {{ form(monFormulaire) }}
vous possedez deja un compte <a href="{{ path('social_connexion') }}">se connecter</a> 
 </div>
 {% endblock %}