<div  style="right:0px;top:15%;position: absolute" >
    <h1><b>mes amis</b></h1>
    {% for ami in amis%}
        <a href="{{ path('social_profile', { 'id': ami.id })}}">{{ ami.username }}</a><br>


    {% endfor %}

</div>