{% extends "base.html.twig" %}
 {% block body %}
     <div align='center'>
         <h2>creer un groupe</h2>
         {{ form(monFormulaire) }}
         <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
     </div>
 {% endblock %}