<div  style="width:50%;left: 30%;top:20%;position: absolute" >
    <h1>mon feed</h1>
{% for publication in publications %}

    <div class="publi" style=" border-width:1px; border-style:solid; border-color:black;">
      <h4>  <a href="{{ path('social_publication', { 'id': publication.idp })}}">{{ publication.titre }}</a></h4><br>
        <a href="{{ path('social_profile', { 'id': publication.id })}}">by {{ publication.username }}</a><br>

        <p>{{ publication.contenu }}</p>
        {%if publication.image %}
        <img src="{{ asset('/publications/' ~ publication.image) }}" style="width:500px;height:600px;  "><br>
        {%endif%}

        <a href="{{ path('social_commenter', { 'id': publication.id }) }}">repondre</a><p>publié le {{ publication.date}}</p>
    </div>

{% endfor %}

</div>