<div  style="width:50%;left: 30%;top:20%;position: absolute" >
    <h1>feed du groupe</h1>

    {% for publication in publications %}

        <div class="publi" style=" border-width:1px; border-style:solid; border-color:black;">
            <h4>  <a href="{{ path('social_publication', { 'id': publication.id })}}">{{ publication.titre }}</a></h4><br>
            <a href="{{ path('social_profile', { 'id': publication.user.id })}}">by {{ publication.user.username }}</a><br>

            <p>{{ publication.contenu }}</p>
            {%if publication.image %}
                <img src="{{ asset('/publications/' ~ publication.image) }}" style="width:500px;height:600px;  ">
            {%endif%}
            <a href="{{ path('social_commenter', { 'id': publication.id }) }}">repondre</a>   <p>publié le {{ publication.date|date('d/m/Y') }}</p>
        </div>

    {% endfor %}

</div>