{% extends "base.html.twig" %}
 {% block body %}
<h1>{{  groupe.nom}}</h1>
<h4>description</h4>
<p>{{ groupe.description}}</p>
     <a href="{{ path('social_publiergroup', { 'idg': groupe.id })}}">publier dans le groupe</a>
<div id="groupefeed">
{{ render(controller("SocialBundle:Social:groupefeed", {'id': groupe.id})) }}



</div>
  <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
 {% endblock %}