{% extends "base.html.twig" %}
 {% block body %}

<div id="navigation" style="top:15%;left:0%;position: absolute;">
    <h4>Bienvenue {{ user.username }}</h4>
  <p> <a href="{{ path('social_update') }}">mettre à jour mes informations</a> </p>
 <p> <a href="{{ path('social_recherche') }}">chercher un utilisateur</a> </p>
<p> <a href="{{ path('social_publier') }}">publier</a> </p>
    <p> <a href="{{ path('social_profile', { 'id': user.id })}}">profile</a> </p>
    <p> <a href="{{ path('social_creergroupe')}}">creer un groupe</a> </p>
    <p> <a href="{{ path('social_cherchergroupe')}}">rechercher un groupe</a> </p>
    <p> <a href="{{ path('social_messagerie') }}">messagerie</a> </p>
<p> <a href="{{ path('social_deconnexion') }}">se déconnecter</a> </p>

</div>
{{ render(controller("SocialBundle:Social:feeddefault")) }}
     {{ render(controller("SocialBundle:Social:listeamis")) }}
     {{ render(controller("SocialBundle:Social:mesgroupes")) }}
{% endblock %}