<div  style="right:0px;top:50%;position: absolute" >
    <h1><b>mes groupes</b></h1>
    {% for groupe in groupes%}
        <a href="{{ path('social_groupe', { 'id': groupe.id })}}">{{ groupe.nom }}</a><br>


    {% endfor %}

</div>