{% extends "base.html.twig" %}
 {% block body %}
     <h1>Messagerie</h1>
     <table>
         <tr>
             <td>pseudo</td>
             <td>contenu</td>
             <td>date</td>
         </tr>
     {% for message in mesmessages %}
<tr>
    <td><a href="{{ path('social_profile', { 'id': message.sender.id })}}">{{  message.sender.username}}</a></td>
    <td>{{ message.contenu}}</td>
    <td>{{ message.date|date('d-m-Y')}}</td>
   <td><a href="{{ path('social_sendmessage', { 'username': message.sender.username})}}">repondre</a></td>
</tr>


     {% endfor %}

     </table>
     <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
 {% endblock %}