{% extends "base.html.twig" %}
 {% block body %}


    <img src="{{ asset('/pp/' ~ user.photoProfile) }}" style="width:500px;height:600px;  ">
    <ul>
        <li>nom :{{ user.nom }}</li>
        <li>prenom :{{ user.prenom }}</li>
        <li>pseudo :{{ user.username }}</li>
        <li>date de naissance : {{ user.dateNaissance|date('d-m-Y') }}</li>
        <li>email :{{ user.email }}</li>
    </ul>
{% if itsme == false %}
    <a href="{{ path('social_sendmessage', {'username':user.username}) }}">envoyer un message</a>
     {% if possible == true %}
     <a href="{{ path('social_ajouter', { 'id': user.id })}}" >ajouter en ami</a>
     {% endif %}
     {% endif %}
     <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
 {% endblock %}