{% extends "base.html.twig" %}
 {% block body %}
 <div align='center'>
 <h2>publier</h2>
  {{ form_start(monFormulaire) }}
  {{ form_errors(monFormulaire) }}

    {{ form_row(monFormulaire.titre) }}
    {{ form_row(monFormulaire.contenu) }}
     {{ form_row(monFormulaire.image) }}
  {{ form_row(monFormulaire.publier) }}

  {{ form_end(monFormulaire) }}


  <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>

 </div>
{% endblock %}