{% extends "base.html.twig" %}
 {% block body %}

<h1>{{ publication.titre}}</h1>
<img href="{{ asset('/pp/' ~ publication.image) }}"></img>
<p>{{ publication.contenu}}</p>
     <p> <a href="{{ path('social_commenter', { 'id': publication.id }) }}">repondre</a> </p>
         <p>commentaires:</p>
     {% for commentaire in publication.commentaires %}
         <a href="{{ path('social_profile', { 'id': commentaire.user.id })}}">by {{ commentaire.user.username }}</a><br>
         <p>{{ commentaire.contenu }}</p>
     {% endfor %}

  <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
 {% endblock %}