{% extends "base.html.twig" %}
 {% block body %}
<p>liste des groupes</p>
{% for groupe in groupes %}

<h3> <a href="{{ path('social_groupe', { 'id': groupe.id })}}">{{groupe.nom}}</a> </h3>
<p>
{{groupe.description}}
</p>


{% endfor %}
  <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
{% endblock %}