{% extends "base.html.twig" %}
 {% block body %}
<p>liste des utilisateurs</p>
{% for user in users %}

   <img src="{{ asset('/pp/' ~ user.PhotoProfile) }})"> <p> <a href="{{ path('social_profile', { 'id': user.id })}}">{{user.username}}</a> </p>


{% endfor %}
     <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
{% endblock %}