
{% extends "base.html.twig" %}
 {% block body %}
     <div id='Form_update' >
         <h2>S'inscrire :</h2>
         {{ form(monFormulaire) }}
         retourner à  <a href="{{ path('social_afficher2') }}">l'accueil</a>
         <p> <a href="{{ path('social_home') }}">retourner à l'accueil</a> </p>
     </div>
 {% endblock %}